* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f2f2f2;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor {
	max-width: 90%;
	width: 350px;
	margin: 200px auto;
}

.formulario input[type='text'] {
	padding: 10px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 15px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 15px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #2327e0;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
   
}



